@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

    <div class="text-center container">
        <img src="mummyImage.jpg" alt="Egypt Desert" width="900" height="600">
        <div class="display-4 centered">Welcome to Fag el-Gamous</div>
    </div>

    <br />

    <div>
        <h4>
            Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery
            in Egypt that has been under archeological investigation (primarily by BYU researchers)
            for over 25 years. The excavation has garnered international attention because of the
            interesting insights gained by studying the Fag el-Gamous mummies.
        </h4>
        <br />
        <h4>
            During multiple years of study, researchers have excavated more than 1,000 mummies and
            collected data in field notes, spreadsheets, and simple databases about each mummy’s location,
            physical orientation in the ground, burial depth, hair color, wrapping (including information
            about the textiles used), sex, age, bone (including skull and teeth) dimensions, items
            accompanying the mummy, and more.
        </h4>
        <br />
        <h4>Learn about the burial information here: <a asp-controller="Home" asp-action="Records"><b>Records</b></a></h4>
    </div>

</div>