
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h2 class="text-center">Trends and Patterns</h2>
    <p class="lead">Each of the models pictured below have been generated using cluster analysis, which helps predict different trends or important associations. Below each will be a short explanation.</p>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">

                <div class="card-body">
                    <h5 class="card-title">Depth vs Haircolor and Head Direction</h5>
                    <p class="card-text">The further up the dot, the deeper it was buried (assuming this is a proxy for age). As you can see, the overall practices and even hair color has remained rather constant over time, with the exception of blond hair coming much later in burial depths.</p>
                </div>
                <img src="~/Depth vs Haircolor and Head Direction.png" class="card-img-top" alt="Image 1">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">

                <div class="card-body">
                    <h5 class="card-title">Depth vs Presence of Facebundles and Textile Function</h5>
                    <p class="card-text">The further up the dot, the deeper it was buried (assuming this is a proxy for age). There is no clear indication if these have a relationship, however the type of textile seems to have gone more toward ribbons and less toward shrouds over time.</p>
                </div>
                <img src="~/Depth vs Presence of Facebundles and Textile Function.png" class="card-img-top" alt="Image 2">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">

                <div class="card-body">
                    <h5 class="card-title">Depth vs Fabric Thickness and Yarn Manipulation</h5>
                    <p class="card-text">The further up the dot, the deeper it was buried (assuming this is a proxy for age). Fabric thickness and yarn manipulation have no clear relationship pattern, and they seem more scattered than not in the course of this data.</p>
                </div>
                <img src="~/Depth vs Fabric Thickness and Yarn Manipulation.png" class="card-img-top" alt="Image 3">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">

                <div class="card-body">
                    <h5 class="card-title">Depth vs Presence of Facebundles and Length of the Mummy</h5>
                    <p class="card-text">The further up the dot, the deeper it was buried (assuming this is a proxy for age). As you can see, the length of the mummy and the presence of face bundles has remained constant over time, with no real trend.</p>
                </div>
                <img src="~/Depth vs Presence of Facebundles and Length of the Mummy.png" class="card-img-top" alt="Image 4">
            </div>
        </div>
    </div>
</div>